.blur {
    -webkit-filter: blur(2px);
    /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.saturate {
    -webkit-filter: saturate(10%);
    /* Safari 6.0 - 9.0 */
    filter: saturate(10%);
}

.invert {
    -webkit-filter: invert(30%);
    /* Safari 6.0 - 9.0 */
    filter: invert(30%);
}

.grayscale {
    -webkit-filter: grayscale(30%);
    /* Safari 6.0 - 9.0 */
    filter: invert(30%);
}

.brightness {
    -webkit-filter: brightness(30%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(30%);
}

.contrast {
    -webkit-filter: contrast(30%);
    /* Safari 6.0 - 9.0 */
    filter: contrast(30%);
}

.rotate {
    -webkit-filter: hue-rotate(30deg);
    /* Safari 6.0 - 9.0 */
    filter: hue-rotate(30deg);
}

.opacity {
    -webkit-filter: opacity(0.3);
    /* Safari 6.0 - 9.0 */
    filter: opacity(0.3);
}

.sepia {
    -webkit-filter: sepia(30%);
    /* Safari 6.0 - 9.0 */
    filter: rotate(30%);
}