body {
	font-family: sans-serif;
	background-color: #f0f8ff;
}
section {
	position: relative;
	border: 1px solid #cac6c6;
	padding-top: 37px;
	background: #82dede;
	margin: 0 100px;
	border-radius: 3px;
}

.container {
	height: 350px;
}

table {
	border-spacing: 0;
	width: 100%;
}

td {
	border-left: 1px solid #eee;
}

td,
th {
	border-bottom: 1px solid #eee;
	background:  #fff;
	color: #000;
	padding: 10px 25px;
}

th {
	height: 0;
    line-height: 0;
	padding: 0px  25px;
	color: transparent;
	border: none;
	white-space: nowrap;
}

th div {
	position: absolute;
	background: transparent;
	color: #fff;
	padding: 9px 25px;
	top: 0;
	margin-left: -25px;
	line-height: normal;
	border-left: 1px solid #aad9fd;
}

th:first-child div {
	border: none;
}

.scroll-table {
	overflow-y: auto;
	height: 250px;
}

.hover-table td:hover {
	background-color: #e6e8e8;
}

h3 {
	color: #808080;
}
