/* Minimum Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  box-sizing: border-box;
}

/* Global CSS */

#container {
  --padding-global: 10px;
  background: #eee;
  width: calc(780px - var(--padding-global) * 2);
  margin: 20px auto;
  padding: 10px;
  display: flex;

  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #000;
}

.margin-around {
  margin: 10px;
}

/* Example CSS */
.tag{
  background:#000;
  color:#fff;
  padding:5px;
}
.round{
  border-radius:30px;
  padding:5px 10px;
}

.no-fill{
  background:#fff;
  border:1px solid #000;
  color:#000;
} 