*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: #3d889a;
}

.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: #ffc600; 
}