main {
  --padding-global: 10px;
  background: #eee;
  width: calc(780px - var(--padding-global) * 2);
  margin: 0 auto;
  padding: 10px;
}

body {
  counter-reset: section;
}

h2 {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid currentColor;
  line-height: 52px;
}

h2::before {
  counter-increment: section;
  content: "This is " counter(section) " : ";
}

dl {
  counter-reset: dl;
}

dt::before {
  counter-increment: dl;
  content: " " counter(dl) " : ";
}
