/* Minimum Reset CSS */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    box-sizing: border-box;
  }
  
  /* Global CSS */
  
  #container {
    --padding-global: 10px;
    background: #eee;
    width: calc(780px - var(--padding-global) * 2);
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
  }
  
  .margin-around {
    margin: 10px;
  }

  /* CSS Alerts */
  .alert{
      min-width:500px;
      min-height:100px;
      padding:10px;
      background:#B9E5FF;
      color:#000;
  }

  .alert h2{
      color:#2280b7;
      margin-bottom:10px;
      font-size:1.5rem;
      text-transform: uppercase;
  }
  .alert p{
      text-align: justify;
  }

  .success {
    background: #ACF0AD;
  }

  .success h2{
    color: #009202;
  }

  .error {
    background: #EB8F87;
}

.error h2{
    color: #da2b1b
}

.warning {
    background: #FFFBBA;
}

.warning h2{
    color: #c5ba00
}

.border-warning{
    border-left:4px solid #c5ba00;
}
.border-success{
    border-left:4px solid #009202;
}
.border-error{
    border-left:4px solid #da2b1b;
}
.border{
    border-left:4px solid #2280b7;
}