* {
    margin: 0;
    padding: 0;
}

:root {
    --margin-10px: red;
    --heading-fontSize: 42px;
    --heading-fontfamily: Impact;
    --string-name: 'Naina';
    --blue-color: --organe-color;
    --organe-color: orange;
    --foo: 100px;
    --bar: calc(var(--foo) + 10px);
    --f: calc(var(--bar) + 10px);
}

h2 {
    color: var(--blue-color), red;
    font: bold var( --heading-fontSize) var(--heading-fontfamily);
    --padding-global: 20px;
}

h3 {
    font-size: var( --foo);
}

div {
    padding: 10px;
    background: var(--blue-color);
    width: calc(500px - var(--padding-global));
}

div:before {
    content: "Hello " var( --string-name);
}

:root,
:root:lang(en) {
    --external-link: "external link";
}

:root:lang(de) {
    --external-link: "externer Link";
}

h3::after {
    content: "hello " var(--external-link) ")"
}

.two {
    width: 100px;
    background: Red;
}

.three {
    width: var(--foo)
}