main {
  --padding-global: 10px;
  background: #eee;
  width: calc(780px - var(--padding-global) * 2);
  margin: 0 auto;
  padding: 10px;
}
body {
  font-family: arial;
}
h3 {
  font-size: 34px;
}
.slashed {
  font-variant-numeric: slashed-zero;
}
.old {
  font-variant-numeric: oldstyle-nums;
}
.ordinal {
  font-variant-numeric: ordinal;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

