* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    border: 1px solid red;
    grid-gap: 20px;
    grid-auto-rows: 200px;
}

.section {
    width: 60%;
    margin: 0 auto;
    background: #eee;
}

header {
    grid-column: 1/4;
    background: red;
}

aside {
    grid-column: 1;
    background: blue;
}

article {
    grid-column: 2;
    background: orange;
}

.test {
    grid-column: 3;
    background: yellow;
}

footer {
    grid-column: 1 / 4;
    background: green;
}