/* Minimum Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    box-sizing: border-box;
}

/* Global CSS */

#container {
    --padding-global: 10px;
    width: calc(780px - var(--padding-global) * 2);
    margin: 20px auto;
    padding: 10px;
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.margin-around {
    margin: 10px;
}

/* Example CSS */
.card-container {
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow: 2px 2px 3px #ccc;
    padding: 20px;
}

.card-container p {
    line-height: 21px;
}