/* Global CSS */

#container {
    --padding-global: 10px;
    width: calc(780px - var(--padding-global) * 2);
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.margin-around {
    margin: 10px;
}

/* Example CSS */
.card-container {
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow: 2px 2px 3px #ccc;
    padding: 20px;
}

.card-container p {
    line-height: 21px;
}

.card-container.card-header{
    padding:0;
    position: relative;
    width:240px;
    height:240px;
}

.card-header > header{
    background: cadetblue;
    padding:10px;
}

.card-header > header h2{
    font-weight:400
}

.card-header > header + p {
    margin:10px;
    line-height: 21px;
}

.card-header footer{
    background: #c8e7e8;
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 5px;
}